<html>
    <head>
        <title>Search Book ASIN</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
            
    <body>
        
        <form action = "/searchasin" method="POST">
            <p>ASIN: </p>
            <input type = "text" name = "asin" id="asin"><br>
            <input type = "submit" value = "Submit">
        </form>

        <p>{{book.asin}}</p>

    </body>
</html>
        