#wrapper {
    margin: 50px auto 50px auto;
    width: 500px;
}

#wrapper2 {
    margin: 50px auto 50px auto;
}

.navbarx{ 
    display: inline; 
} 

 .dropbtn { 
    background-color: rgb(76, 127, 175); 
    color: white; 
    padding: 16px; 
    font-size: 16px; 
    border: none; 
    cursor: pointer; 
  } 

   .dropdown { 
    position: relative; 
    display: inline-block; 
  } 

   .dropdown-content { 
    display: none; 
    position: absolute; 
    background-color: #f9f9f9; 
    min-width: 160px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 1; 
    height: 300px; 
    overflow-y: scroll; 
  } 

   .dropdown-content a { 
    color: black; 
    padding: 12px 16px; 
    text-decoration: none; 
    display: block; 
  } 

   .dropdown-content a:hover { 
      background-color: #f1f1f1; 

     } 

   .dropdown:hover .dropdown-content { 
    display: block; 

   } 

   .dropdown:hover .dropbtn { 
    background-color: #3e4a8e; 
  }