<html>
    <head>
        <title>Add Book</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='addbook.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <nav class="navbar navbar-dark bg-dark">
        <a id="navbarHeader" class="navbar-brand" href="{{ url_for('dashboard') }}"><img src="{{ url_for('static', filename='icon.png') }}" width="30" height="30" class="d-inline-block align-top" alt=""> BookSearch </a>
        <a class="btn btn-primary" href="{{ url_for('logout') }}"> Logout </a>
    </nav>
    <body>
        <div class="form-style-5">
            <form method="POST">
                <fieldset>
                    <legend><span class="number">1</span>Book Info</legend>
                    <input type="text" name="field1" placeholder="ASIN *" required maxlength="10">
                    <input type="text" name="field2" placeholder="Book title *">
                    <input type="text" name="field3" placeholder="Book brand *">
                    <input type="text" name="field4" placeholder="Book price *">
                    <input type="text" name="field5" placeholder="Image URL *">
                    <input type="text" name="field10" placeholder="Categories *">

                    <legend><span class="number">2</span>Related Books</legend>
                    <input type="text" name="field6" placeholder="also bought">
                    <input type="text" name="field7" placeholder="also viewed">
                    <input type="text" name="field8" placeholder="buy after viewing">
                    <input type="text" name="field9" placeholder="bought together">

                    <label for="job">Categories:</label>     
                </fieldset>
                <input type="submit" name="submit_button" value="Apply" />
            </form>
        </div>
    </body>
</html>