<!DOCTYPE html>
<html>
<head>
<style>
.button {
  /* background-color: rgb(105, 79, 38); */
  border: none;
  color: rgb(245, 228, 198);
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 25px;
  /* margin: 4px 2px; */
  cursor: pointer;
  position: absolute;
    top: 50%;
    left: 80%;
}
.body-style-2{
    background-image: url(../img/header-new.jpg);
    text-align: center;
    color:rgb(46, 38, 24);
    font-size: 50px;
}
</style>
</head>
<body class="body-style-2">
        <h1 class="tm-site-name">Book added :)</h1>
        <a href="{{ url_for('home_page') }}" class="button">Back to homepage</a>
</body>
</html>

  

</body>

</html>